{# templates/includes/_white_header.html.twig #}
<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
        <a class="nav-link active_" href="{{ path('app_category_index') }}">Category</a>
        <a class="nav-link" href="{{ path('app_blog_index') }}">Blog</a>
        <a class="nav-link" href="{{ path('app_user_index') }}">Users</a>
        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        <a class="nav-link" href="{{ path('_logout_main') }}">Logout</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
    </nav>
</div>